@import "tailwindcss";

a.active {
  color: red;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
}
.container >p{
font-size: 1.3rem;
}